{% extends "layout/app.html" %}

{% block content %}
    <div class="content_wrapper padded">
        <div class="row management-page-search">
            <div class="col-sm-9">
                <input class="form-control" id="searchStudent" placeholder="Buscar alumno">
            </div>
            <div class="col-sm-3">
                <input type="button" class="btn btn-primary" value="Buscar">
            </div>
        </div>
    </div>
    <div class="content_wrapper padded">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select_all"></th>
                    <th>DNI / Carné de extranjería</th>
                    <th>Tipo de documento</th>
                    <th>Apellidos y nombres</th>
                    <th>Correo electrónico</th>
                    <th>Escuela</th>
                    <th>Fecha de registro</th>
                    <th>Documento adjunto</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td style="vertical-align:middle;"><input type="checkbox" name="students" value="{{ student.id }}"></td>
                        <td style="vertical-align:middle;">{{ student.id }}</td>
                        <td style="vertical-align:middle;">{{ student.tipo_documento }}</td>
                        <td style="vertical-align:middle;">{{ student.apellidos }} {{ student.nombres }}</td>
                        <td style="vertical-align:middle;">{{ student.correo_electronico }}</td>
                        <td style="vertical-align:middle;">{{ student.escuela }}</td>
                        <td style="vertical-align:middle;">{{ student.fecha_creacion }}</td>
                        <td style="vertical-align:middle;"><a href="/download-file/{{ student.archivo_id }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download-alt"></span> Descargar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr class="divider">
        <div class="text-center">
            <button class="btn btn-primary">Autorizar</button>
            <button class="btn btn-default">Cancelar</button>
        </div>
    </div>
{% endblock %}
