{% extends "layout/app.html" %}

{% block title %}Autorizar estudiantes{% endblock %}

{% block breadcrumbs %}
<a href="/">Inicio</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a href="/students/list">Estudiantes</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a class="current_page">Autorizar</a>
{% endblock %}

{% block content %}
    <div class="content_wrapper padded">
        <h2 style="margin-top:0;">Autorizar estudiantes</h2>
        <hr class="divider">
        <form method="post">
            {% if alert %}
                {% if alert.type == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        No se pudo realizar esta operación, por favor inténtelo más tarde
                    </div>
                {% elif alert.type == 'success' %}
                    <div class="alert alert-success" role="alert">
                        Se autorizó a los estudiantes
                    </div>
                {% endif %}
            {% endif %}
            {% if students %}
            <table class="table table-striped">
                <thead >
                    <tr>
                        <th style="vertical-align:middle;"><input type="checkbox" id="select_all" style="cursor:pointer;" data-target="entries"></th>
                        <th style="vertical-align:middle;">DNI / Carné de extranjería</th>
                        <th style="vertical-align:middle;">Tipo de documento</th>
                        <th style="vertical-align:middle;">Apellidos y nombres</th>
                        <th style="vertical-align:middle;">Correo electrónico</th>
                        <th style="vertical-align:middle;">Escuela</th>
                        <th style="vertical-align:middle;">Fecha de registro</th>
                        <th style="vertical-align:middle;">Documento adjunto</th>
                    </tr>
                </thead>
                <tbody id="entries">
                    {% for student in students %}
                        <tr>
                            <td style="vertical-align:middle;"><input type="checkbox" name="student_{{ student.id }}"></td>
                            <td style="vertical-align:middle;">{{ student.id }}</td>
                            <td style="vertical-align:middle;">{{ student.tipo_documento }}</td>
                            <td style="vertical-align:middle;">{{ student.apellidos }} {{ student.nombres }}</td>
                            <td style="vertical-align:middle;">{{ student.correo_electronico }}</td>
                            <td style="vertical-align:middle;">{{ student.escuela }}</td>
                            <td style="vertical-align:middle;">{{ student.fecha_creacion }}</td>
                            <td style="vertical-align:middle;"><a href="/download-file/{{ student.archivo_id }}" class="btn btn-success btn-sm" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Descargar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr class="divider">
            <div class="text-center">
                <button class="btn btn-primary">Autorizar</button>
                <button class="btn btn-default">Cancelar</button>
            </div>
            {% else %}
            <div class="alert alert-warning">
                No hay estudiantes por autorizar.
            </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
