{% extends "layout/app.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block breadcrumbs %}
<a href="/">Inicio</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a>Usuarios</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a class="current_page">Cambiar contraseña</a>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="content_wrapper padded">
            <h2 style="margin-top:0;">Cambiar contraseña</h2>
            <hr class="divider">
            {% if errors is defined %}
            <div class="alert alert-danger"><ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul></div>
            {% endif %}
            {% if success is defined %}
            <div class="alert alert-success">
                {{ success }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="current_password">Contraseña actual</label>
                <input type="password" id="current_password" name="current_password" class="form-control" placeholder="Contraseña actual" />
            </div>
            <div class="form-group">
                <label for="new_password">Nueva contraseña</label>
                <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Nueva contraseña" />
            </div>
            <div class="form-group">
                <label for="repeat_new_password">Repetir nueva contraseña</label>
                <input type="password" id="repeat_new_password" name="repeat_new_password" class="form-control" placeholder="Repetir nueva contraseña" />
            </div>
        </div>
        <div class="content_wrapper text-right" style="background-color:transparent;box-shadow:none;">
            <a href="/" class="btn btn-default btn-lg">Cancelar</a> <button type="submit" class="btn btn-success btn-lg">Guardar</button>
        </div>
    </form>
{% endblock %}
