{% extends "layout/auth.html" %}

{% block content %}
<form class="form-horizontal" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert">
        {{ success }}
    </div>
    {% endif %}
    {% if not errors and not success %}
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign"></span> Detalles adicionales deberán ser ingresados una vez sea aprobado tu registro. <br>
        Todos los campos son obligatorios.<br>
        El documento adjuntado no ha de pesar más de 3MiBs. Solo se aceptan las extensiones: pdf y docx.
    </div>
    {% endif %}
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Nombres</label>
        <div class="col-sm-9">
            <input class="form-control" id="name" name="name" placeholder="Nombres completos">
        </div>
    </div>
    <div class="form-group">
        <label for="last_name" class="col-sm-3 control-label">Apellidos</label>
        <div class="col-sm-9">
            <input class="form-control" id="last_name" name="last_name" placeholder="Apellidos completos">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Correo electrónico</label>
        <div class="col-sm-9">
            <input class="form-control" id="email" name="email" placeholder="Correo electrónico">
        </div>
    </div>
    <div class="form-group">
        <label for="id_type" class="col-sm-3 control-label">Tipo de documento</label>
        <div class="col-sm-9">
            <select class="form-control" id="id_type" name="id_type">
                <option value="0" selected>DNI</option>
                <option value="1">Carné de extranjería</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="id" class="col-sm-3 control-label">DNI ó Carné de extranjería</label>
        <div class="col-sm-9">
            <input class="form-control" id="id" name="id" placeholder="DNI ó Carné de extranjería">
        </div>
    </div>
    <div class="form-group">
        <label for="school" class="col-sm-3 control-label">Escuela</label>
        <div class="col-sm-9">
            <select class="form-control" id="school" name="school">
                <option value="1">Computación y sistemas</option>
                <option value="2">Industrial</option>
                <option value="3">Civil</option>
                <option value="4">Arquitectura</option>
                <option value="5">Electrónica</option>
                <option value="6">Derecho</option>
                <option value="7">Medicina</option>
                <option value="8">Aeronáutica</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Contraseña</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
        </div>
    </div>
    <div class="form-group">
        <label for="repeat_password" class="col-sm-3 control-label">Repetir contraseña</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Repetir contraseña">
        </div>
    </div>
    <div class="form-group">
        <label for="attach_doc" class="col-sm-3 control-label">Adjuntar documento</label>
        <div class="col-sm-9">
            <input type="file" class="form-control" id="attach_doc" name="attach_doc">
        </div>
    </div>
    <div class="form-group">
        <div class="text-center">
            <button class="btn btn-default">Registrarme</button>
        </div>
    </div>
</form>
{% endblock %}
