{% extends "layout/app.html" %}

{% block content %}
    <div class="content_wrapper padded">
        <h2 style="margin-top:0;">{{ requested_user.nombres }} {{ requested_user.apellidos }}</h2>
        <hr class="divider" />
        <div class="row">
            <div class="col-sm-6">
                    <h4># de documento: </h4>
                    <span>{{ requested_user.id }} </span><br /><br />
                    <h4>Tipo de documento: </h4>
                    <span>{{ requested_user.tipo_documento }}</span><br /><br />
                    <h4>Facultad: </h4>
                    <span>{{ requested_user.escuela }}</span><br /><br />
                    <h4>Correo electronico: </h4>
                    <span>{{ requested_user.correo_electronico }} </span><br /><br />
                    <h4>Direccion: </h4>
                    <span>
                        {% if not (requested_user.direccion or requested_user.distrito) %}
                            No registrado
                        {%else %}
                            {{ requested_user.direccion }}, {{ requested_user.distrito }}
                        {% endif %}
                    </span><br /><br />
                    <h4>Nro celular: </h4>
                    <span>{{ requested_user.nro_telefono or 'No registrado' }}</span>
            </div>
            <div class="col-sm-6">
                <div class="text-left">
                    <div class="thumbnail" style="display:inline-block;margin:0;">
                        {% if requested_user.avatar is none %}
                        <div style="height:204px;width:204px;display:inline-block;background-size:cover;background-position:50% 50%;background-image: url();"></div>
                        {% else %}
                        <div style="height:204px;width:204px;display:inline-block;background-size:cover;background-position:50% 50%;background-image: url(data:image/png;base64,{{ requested_user.avatar.decode('utf-8') }});"></div>
                        {% endif %}
                    </div>
                    <br /><br />
                </div>
                <h4>Nacionalidad: </h4>
                <span>Peruano</span><br /><br />
                <h4>Sexo: </h4>
                <span>{{ requested_user.sexo }}</span><br /><br />
            </div>
        </div>
    </div>
{% endblock %}