{% extends "layout/app.html" %}

{% block breadcrumbs %}
<a href="/">Inicio</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a class="current_page">Ciclo académico</a>
{% endblock %}

{% block content %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}
    <form method="POST">
        <div class="content_wrapper padded">
            <h2 style="margin-top:0;">Crear ciclo académico</h2>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="beginning_date">
                            Fecha de comienzo
                        </label>
                        <div class='input-group date' id='beginning_date_picker'>
                            <input type="text" id="beginning_date" name="beginning_date" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ending_date">
                            Fecha de culminación
                        </label>
                        <div class='input-group date' id='ending_date_picker'>
                            <input type="text" id="ending_date" name="ending_date" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_wrapper padded">
            <h3 style="margin-top:0;">Horarios <button type="button" class="btn btn-primary btn-xs btn-add-item">Agregar horario</button></h3>
            <hr class="divider">
            <div class="timetable">
                <div class="schedule_0">
                    <div class="row">
                        <div class="col-xs-1 remove">
                            <button type="button" class="btn btn-remove-item">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <div class="col-sm-12 teacher-wrapper">
                                    <select class="selectpicker" id="schedule_0_teacher" name="schedule_0_teacher" data-live-search="true" data-width="100%">
                                        {% for teacher in teachers %}
                                            <option value="{{ teacher.id }}" data-content="<div class='teacher_option'><strong>{{ teacher.nombres }} {{ teacher.apellidos }}</strong><br />{{ teacher.tipo_documento }}: {{ teacher.id }}<br />Correo electrónico: {{ teacher.correo_electronico }}</div>">{{ teacher.nombres }} {{ teacher.apellidos }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="schedule_0_day">Día</label>
                                    <select class="selectpicker" id="schedule_0_day" name="schedule_0_day" data-live-search="true" data-width="100%">
                                        <option value="0">Domingo</option>
                                        <option value="1">Lunes</option>
                                        <option value="2">Martes</option>
                                        <option value="3">Miércoles</option>
                                        <option value="4">Jueves</option>
                                        <option value="5">Viernes</option>
                                        <option value="6">Sábado</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <label for="schedule_0_start_time">Hora de inicio</label>
                                    <div class="input-group date start_time">
                                        <input type="text" id="schedule_0_start_time" name="schedule_0_start_time" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <label for="schedule_0_end_time">Hora de fin</label>
                                    <div class="input-group date end_time">
                                        <input type="text" id="schedule_0_end_time" name="schedule_0_end_time" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_wrapper text-right" style="background-color:transparent;box-shadow:none;">
            <button type="button" class="btn btn-default btn-lg">Cancelar</button>
            <button class="btn btn-success btn-lg">Crear</button>
        </div>
    </form>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $(function() {
            $('#beginning_date_picker').datetimepicker({format: 'L'});
            $('#ending_date_picker').datetimepicker({format: 'L'});
            $('.start_time').datetimepicker({format: 'LT'});
            $('.end_time').datetimepicker({format: 'LT'});
        });
    </script>
{% endblock %}
