{% extends "layout/app.html" %}

{% block title %}Reporte de notas de clase{% endblock %}

{% block breadcrumbs %}
<a href="/">Inicio</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a class="current_page">Notas</a>
{% endblock %}

{% block content %}
    <div class="content_wrapper padded">
        <h2 style="margin-top:0;">Notas de clase</h2>
        <hr class="divider">
        <div class="row students_list_header">
            <div class="col-sm-6">
                <select class="selectpicker" id="school_term_selector" data-live-search="true" data-width="auto">
                    {% for school_term in school_terms %}
                    {% if school_term.0 == current_school_term_id %}
                        <option value="{{ school_term.0 }}" selected>{{ school_term.1 }}</option>
                    {% else %}
                    <option value="{{ school_term.0 }}">{{ school_term.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6 text-right">
                {% if school_term_has_not_begun is defined %}
                <a href="javascript:window.print();" class="btn btn-default disabled"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
                {% else %}
                <a href="javascript:window.print();" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
                {% endif %}
            </div>
        </div>
        <hr class="divider">
        {% if message is defined %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th rowspan="2">ID</th>
                        <th rowspan="2">Nombres y apellidos</th>
                        {% for header in headers %}
                            {% if header is iterable and header is not string %}
                                <th rowspan="1" colspan="{{ header|length - 1 }}">{{ header[0] }}</th>
                            {% else %}
                                <th rowspan="2">{{ header }}</th>
                            {% endif %}
                        {% endfor %}
                        <th rowspan="2">Promedio final</th>
                    </tr>
                    <tr>
                        {% for header in headers %}
                            {% if header is iterable and header is not string %}
                                {% for _h in header %}
                                    {% if loop.index0 != 0 %}
                                        <th>{{ _h }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td><abbr data-toggle="tooltip" title="{{ student.tipo_documento }}" class="student_id">{{ student.id }}</abbr></td>
                        <td>{{ student.apellidos }} {{ student.nombres }}</td>
                        {% for grade in student['grades'] %}
                        <td>{{ grade }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
