<div class="modal fade" id="student_grade_report" tabindex="-1" role="dialog" aria-labelledby="studentGradeReport">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="studentGradeReport">Reporte de notas</h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
