#app_container {
    height: 100%;
    width: 100%;
    background-color: #F0F0F0;
}

#app_container > #top_nav {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    position: fixed;
    height: 60px;
    background-color: #FFFFFF;
    z-index: 950;
    padding-left: 300px;
    border-bottom: 1px solid #D8D8D8;
}

#app_container > #top_nav > .tn_breadcrumb,
#app_container > #top_nav > .user {
    height: 60px;
}

#app_container > #top_nav > .tn_breadcrumb {
    float: left;
    text-align: left;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 30px;
}

#app_container > #top_nav > .user {
    float: right;
    text-align: right;
    padding-right: 30px;
}

#app_container > #top_nav > .user .user_card {
    text-decoration: none;
    display: block;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: #D8D8D8;
    height: 60px;
    border-radius: 0;
}

#app_container > #top_nav > .user .user_card > .avatar,
#app_container > #top_nav > .user .user_card > .

#app_container > #top_nav > .tn_breadcrumb > a {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    color: #8E8E8E;
    text-decoration: none;
}

#app_container > #top_nav > .tn_breadcrumb > .separator {
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    color: #ACACAC;
}

#app_container > #top_nav > .tn_breadcrumb > a.current_page {
    font-weight: 500;
    color: #5C5C5C;
}

#app_container > #top_nav::after {
    display: block;
    content: '';
    clear: both;
}

#app_container > #sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    background-color: #FFFFFF;
    z-index: 999;
    border-right: 1px solid #D8D8D8;
}

#app_container > #sidebar > .app_nav {
    list-style: none;
    font-size: 0;
}

#app_container > #sidebar > .app_nav > li {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

#app_container > #sidebar > .app_nav > li > a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #797979;
    text-transform: capitalize;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

#app_container > #sidebar > .app_nav > li > a {
    -webkit-transition: 200ms ease-in-out background-color;
    transition: 200ms ease-in-out background-color;
}

#app_container > #sidebar > .app_nav > li > a:hover,
#app_container > #sidebar > .app_nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

#app_container > #sidebar > .app_nav > li > a > .glyphicon {
    margin-right: 12px;
}

#app_container > #content {
    width: 100%;
    max-width: 100%;
    padding-left: 300px;
    padding-top: 90px;
    min-height: 100%;
}

#app_container > #content > .content_wrapper {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

#app_container > #content > .content_wrapper.padded {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.management-page-search .form-control {
    font-size: 15px;
    font-weight: 400;
    color: #686868;
    padding-top: 20px;
    padding-bottom: 20px;
}

.management-page-search .form-control,
.management-page-search .btn {
    display: block;
}

.management-page-search .btn {
    text-align: center;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}

.table-btn {
    font-size: 13px;
    font-weight: 500;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    background-color: transparent;
    border: 2px dashed #565656;
    border-radius: 0;
    box-shadow: none;
    color: #565656;
}

.table-btn:hover,
.table-btn:focus,
.table-btn:active {
    background-color: #565656;
    color: #FFFFFF;
}

.students_list_header .btn > .glyphicon {
    margin-right: 10px;
}

.attendance-btn {
    cursor: pointer;
    color: #d9534f;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
}
