#app_container {
    min-height: 100%;
    width: 100%;
    background-color: #F0F0F0;
}

#app_container > #top_nav {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    position: fixed;
    height: 60px;
    background-color: #FFFFFF;
    z-index: 950;
    padding-left: 300px;
    border-bottom: 1px solid #D8D8D8;
}

#app_container > #top_nav > .tn_breadcrumb,
#app_container > #top_nav > .user {
    height: 60px;
}

#app_container > #top_nav > .tn_breadcrumb {
    float: left;
    text-align: left;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 30px;
}

#app_container > #top_nav > .user {
    float: right;
    text-align: right;
    padding-right: 30px;
}

#app_container > #top_nav > .user .user_card {
    text-decoration: none;
    display: table;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: #D8D8D8;
    height: 59px;
    border-radius: 0;
    font-size: 0;
    min-width: 210px;
    padding: 0;
    margin: 0;
}

#app_container > #top_nav > .user .user_card::after {
    display: block;
    content: '';
    clear: both;
}

#app_container > #top_nav > .user .user_card > .avatar,
#app_container > #top_nav > .user .user_card > .middle_content,
#app_container > #top_nav > .user .user_card > .toggle_indicator {
    height: 59px;
    display: table-cell;
    vertical-align: middle;
}

#app_container > #top_nav > .user .user_card > .toggle_indicator {
    width: 42px;
    font-size: 15px;
    padding-right: 10px;
}

#app_container > #top_nav > .user .user_card > .avatar {
    width: 42px;
    padding-left: 10px;
}

#app_container > #top_nav > .user .user_card > .middle_content {
    min-width: 126px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

#app_container > #top_nav > .user .user_card > .avatar > .user_avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    content: '';
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#app_container > #top_nav > .user .user_card > .avatar > .user_avatar.default_female {
    background-image: url('../images/female_user.png');
}

#app_container > #top_nav > .user .user_card > .avatar > .user_avatar.default_male {
    background-image: url('../images/male_user.png');
}

#app_container > #top_nav > .user .user_card:hover,
#app_container > #top_nav > .user .user_card:focus,
#app_container > #top_nav > .user .user_card:active,
#app_container > #top_nav > .user .user_card.active,
#app_container > #top_nav > .user .open > .btn-default.dropdown-toggle {
    background-color: transparent;
    box-shadow: none;
}

.btn_user_toggle {
    background-color: transparent;
    border: 1px solid #DFDFDF;
    color: #BEBEBE;
    padding-left: 0;
    padding-right: 0;
    line-height: 15px;
    height: 32px;
    width: 32px;
    text-align: center;
    outline: none;
    -webkit-transition: color 200ms ease-in-out, border-color 200ms ease-in-out;
    -ms-transition: color 200ms ease-in-out, border-color 200ms ease-in-out;
    transition: color 200ms ease-in-out, border-color 200ms ease-in-out;
}

.btn_user_toggle:hover,
.btn_user_toggle:focus,
.btn_user_toggle:active,
#app_container > #top_nav > .user .user_card:hover .btn_user_toggle,
#app_container > #top_nav > .user .user_card:focus .btn_user_toggle,
#app_container > #top_nav > .user .user_card:active .btn_user_toggle,
#app_container > #top_nav > .user .user_card.active .btn_user_toggle {
    border-color: #858585;
    color: #757575;
    box-shadow: none;
}

#app_container > #top_nav > .user .user_card > .middle_content {
    text-transform: uppercase;
    color: #9C9C9C;
    line-height: 1em;
    text-align: left;
}

#app_container > #top_nav > .user .user_card > .middle_content > span.user_role {
    display: block;
    color: #656565;
    letter-spacing: 0.5px;
}

#app_container > #top_nav > .tn_breadcrumb > a {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    color: #8E8E8E;
    text-decoration: none;
}

#app_container > #top_nav > .tn_breadcrumb > .separator {
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    color: #ACACAC;
}

#app_container > #top_nav > .tn_breadcrumb > a.current_page {
    font-weight: 500;
    color: #5C5C5C;
}

#app_container > #top_nav::after {
    display: block;
    content: '';
    clear: both;
}

#app_container > #sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    background-color: #FFFFFF;
    z-index: 999;
    border-right: 1px solid #D8D8D8;
}

#app_container > #sidebar > .app_nav {
    list-style: none;
    padding: 0;
}

#app_container > #sidebar > .app_nav > li {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

#app_container > #sidebar > .app_nav > li > a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #797979;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

#app_container > #sidebar > .app_nav > li > a {
    -webkit-transition: 200ms ease-in-out background-color;
    transition: 200ms ease-in-out background-color;
}

#app_container > #sidebar > .app_nav > li > a:hover,
#app_container > #sidebar > .app_nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

#app_container > #sidebar > .app_nav > li > a > .glyphicon {
    margin-right: 12px;
}

#app_container > #content {
    width: 100%;
    max-width: 100%;
    padding-left: 300px;
    padding-top: 90px;
    min-height: 100%;
}

.content_wrapper {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.content_wrapper.padded {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.management-page-search .form-control {
    font-size: 15px;
    font-weight: 400;
    color: #686868;
    padding-top: 20px;
    padding-bottom: 20px;
}

.management-page-search .form-control,
.management-page-search .btn {
    display: block;
}

.management-page-search .btn {
    text-align: center;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}

.table-btn {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    color: #BEBEBE;
    background-color: transparent;
    margin: 0;
    font-size: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 7px;
    padding-bottom: 10px;
    display: inline-block;
    -webkit-transition: 200ms color ease-in-out, 200ms border-color ease-in-out;
    -ms-transition: 200ms color ease-in-out, 200ms border-color ease-in-out;
    transition: 200ms color ease-in-out, 200ms border-color ease-in-out;
}

.table-btn:hover,
.table-btn:focus,
.table-btn:active {
    box-shadow: none;
    border-color: #858585;
    color: #858585;
}

.table-btn > .glyphicon {
    font-size: 13px;
}

.students_list_header .btn > .glyphicon {
    margin-right: 10px;
}

.attendance-btn {
    cursor: pointer;
    color: #337AB7;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding-left: 2px;
}

.btn-remove-item {
    color: #D9534F;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: none;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    -webkit-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.btn-remove-item:hover,
.btn-remove-item:focus,
.btn-remove-item:active {
    color: #D9534F;
    background-color: rgba(217, 83, 79, 0.2);
    box-shadow: none;
}

div[class^='schedule'] .remove {
    height: 148px;
    padding-top: 54px;
    padding-bottom: 54px;
    text-align: center;
}

div[class^='schedule'] .teacher-wrapper {
    padding-bottom: 15px;
}

div[class^='schedule'] {
    margin-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 20px;
}

div[class^='schedule']:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.content_wrapper .table th,
.content_wrapper .table td {
    vertical-align: middle;
    text-align: center;
}

.table.report td,
.table.report th {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}
