{% extends "layout/app.html" %}

{% block breadcrumbs %}
<a href="/">Inicio</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a class="current_page">Estudiantes</a>
{% endblock %}

{% block content %}
    <div class="content_wrapper padded">
        <div class="row management-page-search">
            <div class="col-sm-9">
                {% if school_term_has_not_begun is defined %}
                <input class="form-control disabled" id="searchStudent" placeholder="Buscar alumno" disabled>
                {% else %}
                <input class="form-control" id="searchStudent" placeholder="Buscar alumno">
                {% endif %}
            </div>
            <div class="col-sm-3">
                {% if school_term_has_not_begun is defined %}
                <input type="button" class="btn btn-primary disabled" value="Buscar" disabled>
                {% else %}
                <input type="button" class="btn btn-primary" value="Buscar">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content_wrapper padded">
        <div class="row students_list_header">
            <div class="col-sm-6">
                <select class="selectpicker" id="school_term_selector" data-live-search="true" data-width="auto">
                    {% for school_term in school_terms %}
                    {% if school_term.0 == current_school_term_id %}
                        <option value="{{ school_term.0 }}" selected>{{ school_term.1 }}</option>
                    {% else %}
                    <option value="{{ school_term.0 }}">{{ school_term.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6 text-right">
                {% if school_term_has_not_begun is defined %}
                <a href="javascript:window.print();" class="btn btn-default disabled"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
                {% else %}
                <a href="javascript:window.print();" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
                {% endif %}
            </div>
        </div>
        <hr class="divider">
        {% if students|length == 0 %}
        <div class="alert alert-warning" role="alert">
            No hay estudiantes registrados para este ciclo académico aún.
        </div>
        {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="10%">Documento de identidad</th>
                    <th width="25%">Apellidos y nombres</th>
                    <th width="10%">Escuela</th>
                    <th width="25%">Tesis</th>
                    <th width="10%">Asistencia</th>
                    <th width="20%">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% if school_term_has_not_begun is defined %}
                <tr><td colspan="6"><div class="alert alert-info">{{ school_term_has_not_begun }}</div></td></tr>
                {% endif %}
                {% for student in students %}
                    <tr>
                        <td width="10%"><abbr data-toggle="tooltip" title="{{ student.tipo_documento }}" class="student_id">{{ student.id }}</abbr></td>
                        <td width="25%"><a href="/profile/{{ student.id }}" data-toggle="tooltip" title="Ver perfíl">{{ student.apellidos }} {{ student.nombres }}</a></td>
                        <td width="10%">{{ student.escuela }}</td>
                        <td width="25%">{{ student.titulo_proyecto }}</td>
                        <td width="10%">{{ student.asistencia }}% <a class="attendance-btn" data-toggle="tooltip" data-placement="top" title="Ver reporte de asistencias"><span class="glyphicon glyphicon-question-sign"></span></a></td>
                        <td width="20%">
                            {% if user.permissions.asignar_notas %}
                            <button type="button" class="btn table-btn assign_grade" data-toggle="tooltip" title="Asignar nota"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn table-btn update_grade" data-toggle="tooltip" title="Corregir nota"><span class="glyphicon glyphicon-erase"></span></button>
                            {% endif %}
                            {% if user.permissions.ver_notas_de_clase %}
                            <button type="button" class="btn table-btn student_grade_report" data-toggle="tooltip" title="Ver reporte de notas"><span class="glyphicon glyphicon-list-alt"></span></button>
                            {% endif %}

                            {% if user.permissions.ver_listado_proyectos %}
                            {% if student.id_proyecto %}
                            <a href="/projects/{{ student.id_proyecto }}/overview" class="btn table-btn" data-toggle="tooltip" title="Ver proyecto"><span class="glyphicon glyphicon-briefcase"></span></a>
                            {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
