{% extends "layout/app.html" %}

{% block content %}
    <div class="content_wrapper padded">
        <div class="row management-page-search">
            <div class="col-sm-9">
                <input class="form-control" id="searchStudent" placeholder="Buscar alumno">
            </div>
            <div class="col-sm-3">
                <input type="button" class="btn btn-primary" value="Buscar">
            </div>
        </div>
    </div>
    <div class="content_wrapper padded">
        <div class="row students_list_header">
            <div class="col-sm-6">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="shownResultsList" data-toggle="dropdown">
                        Cantidad a mostrar
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="shownResultsList">
                        <li><a href="/students/list/10">10</a></li>
                        <li><a href="/students/list/25">25</a></li>
                        <li><a href="/students/list/all">Todos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Exportar como .PDF</a>
            </div>
        </div>
        <hr class="divider">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="10%">Documento de identidad</th>
                    <th width="25%">Apellidos y nombres</th>
                    <th width="10%">Escuela</th>
                    <th width="25%">Tesis</th>
                    <th width="10%">Asistencia</th>
                    <th width="20%">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td width="10%"><abbr data-toggle="tooltip" title="{{ student.tipo_documento }}">{{ student.id }}</abbr></td>
                        <td width="25%">{{ student.apellidos }} {{ student.nombres }}</td>
                        <td width="10%">{{ student.escuela }}</td>
                        <td width="25%">{{ student.titulo_proyecto }}</td>
                        <td width="10%">{{ student.asistencia }}% <a class="attendance-btn" data-toggle="tooltip" data-placement="top" title="Ver reporte de asistencias"><span class="glyphicon glyphicon-question-sign"></span></a></td>
                        <td width="20%">
                            <a href="/user/profile/{{ student.id }}" class="btn table-btn" data-toggle="tooltip" title="Ver perfil"><span class="glyphicon glyphicon-user"></span></a>
                            <button type="button" class="btn table-btn" data-toggle="tooltip" title="Asignar nota"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn table-btn student_score_report" data-toggle="tooltip" title="Ver reporte de notas"><span class="glyphicon glyphicon-list-alt"></span></button>
                            <a href="/project/{{ student.id_proyecto }}/overview" class="btn table-btn" data-toggle="tooltip" title="Ver proyecto"><span class="glyphicon glyphicon-briefcase"></span></a>
                            {% if not student.id_proyecto %}
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $(function() {
            $('button.student_score_report').on('click', function() {
                $('#student_score_report').modal();
            });
            $('a.attendance-btn').on('click', function() {
                $('#student_attendance_report').modal();
            });
        });
    </script>
{% endblock %}
