<div class="modal fade" id="student_attendance_report" tabindex="-1" role="dialog" aria-labelledby="studentAttendanceReport">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="studentAttendanceReport">Reporte de asistencia</h4>
            </div>
            <div class="modal-body">
                <table class="table report">
                    <thead>
                        <tr>
                            <th width="50%"></th>
                            <th colspan="1">Horario 1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="50%">
                                50%
                            </td>
                            <td colspan="1">
                                100%
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr class="divider" />
                <table class="table report">
                    <thead>
                        <tr>
                            <th>Profesor</th>
                            <th>Domingo</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">Dr. Susy Bayona</td>
                            <td colspan="1"></td>
                            <td>05:30PM - 07:30 PM</td>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>05:30PM - 07:30 PM</td>
                            <td colspan="1"></td>
                        </tr>
                    <tr>
                            <td rowspan="1">Dr. Susy Bayona</td>
                            <td colspan="3"></td>
                            <td>05:30PM - 07:30 PM</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                            <td>05:30PM - 07:30 PM</td>
                            <td colspan="1"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
