{% extends "layout/app.html" %}

{% block breadcrumbs %}
<a href="/">Inicio</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a href="/students/list">Estudiantes</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a class="current_page">Registrar asistencia</a>
{% endblock %}

{% block content %}
    <div class="content_wrapper padded">
        <div class="row students_list_header">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 text-right">
            </div>
        </div>
        <hr class="divider">
        <form method="POST">
            {% if result is defined%}
                {% if result %}
                    <div class="alert alert-success" role="alert">
                        Se registró la asistencia de los alumnos correctamente.
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        No se pudo registrar la asistencia de los alumnos.
                    </div>
                {% endif %}
            {% endif %}
            {% if not can_register_attendance %}
            <div class="alert alert-danger" role="alert">
                Ahora mismo no puedes registrar las asistencias.
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
               Puedes registrar las asistencias.
            </div>
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="5%"><input type="checkbox" id="select_all"></th>
                        <th width="5%">#</th>
                        <th width="35%">Apellidos y nombres</th>
                        <th width="35%">DNI o Carné de extranjería</th>
                        <th width="20%">Observación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td width="5%"><input type="checkbox" name="student_{{ student.id }}" checked></td>
                            <td width="5%">{{ loop.index }}</td>
                            <td width="35%">{{ student.apellidos }} {{ student.nombres }}</td>
                            <td width="35">{{ student.id }}</td>
                            <td width="20%">
                                <select class="form-control" name="additional_{{ student.id }}">
                                    <option value="Desastre natural">Desastre natural</option>
                                    <option value="Accidente">Accidente</option>
                                    <option value="Visita médica">Visita médica</option>
                                    <option value="" selected>Ninguna</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <button class="btn btn-primary">Registrar</button>
                <button class="btn btn-default">Cancelar</button>
            </div>
        </form>
    </div>
{% endblock %}
