<div class="modal fade" id="assign_presentation_date" tabindex="-1" role="dialog" aria-labelledby="assignPresentationDate">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="assignPresentationDate">Asignar fecha de sustentación</h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
