{% extends "layout/app.html" %}

{% block content %}
    <div class="content_wrapper padded">
        <h2 style="margin-top:0;">Listado de proyectos</h2>
        <hr class="divider" />
        <div class="row students_list_header">
            <div class="col-sm-6">
                <select class="selectpicker" id="school_term_selector" data-live-search="true" data-width="auto">
                    {% for school_term in school_terms %}
                    {% if school_term.0 == current_school_term_id %}
                        <option value="{{ school_term.0 }}" selected>{{ school_term.1 }}</option>
                    {% else %}
                    <option value="{{ school_term.0 }}">{{ school_term.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6 text-right">
                {% if school_term_has_not_begun is defined %}
                <a href="#" class="btn btn-default disabled"><span class="glyphicon glyphicon-download-alt"></span> Exportar como .PDF</a>
                {% else %}
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Exportar como .PDF</a>
                {% endif %}
            </div>
        </div>
        {% if error is defined %}
        <hr class="divider">
        <div class="alert alert-info">
            {{ error }}.
        </div>
        {% else %}
        {% if projects|length == 0 %}
        <hr class="divider">
        <div class="alert alert-info">
            No hay proyectos registrados aún.
        </div>
        {% else %}
        <table class="table display" id="table_id">
            <thead>
                <tr>
                    <th>Titulo de tesis</th>
                    <th>Integrantes</th>
                    <th>Cantidad de observaciones</th>
                    <th>Fecha de presentacion</th>
                    <th>Jurado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.titulo }}</td>
                <td>
                    {% for member in project.members %}
                    {{ member.nombres }} {{ member.apellidos }}<br />
                    {% endfor %}
                </td>
                <td>{{ project.reviewed }}</td>
                <td>{{ project.presentation_date or 'Aún no asignado' }}</td>
                <td>
                    {% if project.presentation_date is none %}
                    No se asignó un jurado aún
                    {% else %}
                    {% for panel_member in decision_panel %}
                    {{ panel_member.nombres }} {{ panel_member.apellidos }}<br />
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    <a href="/projects/{{ project.id }}/overview" class="btn table-btn" data-toggle="tooltip" title="Ver proyecto"><span class="glyphicon glyphicon-briefcase"></span></a>
                    <a href="/projects/{{ project.id }}/assign-review" class="btn table-btn" data-toggle="tooltip" title="Asignar a observación"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="/projects/{{ project.id }}/assign-presentation" class="btn table-btn" data-toggle="tooltip" title="Asignar a sustentación"><span class="glyphicon glyphicon-calendar"></span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}
