{% extends "layout/app.html" %}

{% block title %}Proyectos{% endblock %}

{% block breadcrumbs %}
<a href="/">Inicio</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a class="current_page">Proyectos</a>
{% endblock %}

{% block content %}
    <div class="content_wrapper padded visible-print-block">
        La Molina, {{ now }}<br />
        <strong>Sr. Dr. Manuel Cáceres Lampen - Director de Posgrado de la USMP-FIA</strong><br />
        De mi consideración:<br/>
        Como en anterior ocasión, tengo el agrado de adjuntar las Carátulas de los
        de los proyectos que desarrollan los Bachilleres del Taller de Tesis (2017-II), los
        que de ser declarados Aptos, sustentarían el {% if projects and projects.0.pdate_no_time is not none %}{{ projects.0.pdate_no_time }}.{% else %}No se registró fecha de sustentación.{% endif %}
    </div>
    <div class="content_wrapper padded">
        <h2 style="margin-top:0;" class="hidden-print">Listado de proyectos</h2>
        <hr class="divider hidden-print" />
        <div class="row students_list_header hidden-print">
            <div class="col-sm-6">
                <select class="selectpicker" id="school_term_selector" data-live-search="true" data-width="auto">
                    {% for school_term in school_terms %}
                    {% if school_term.0 == current_school_term_id %}
                        <option value="{{ school_term.0 }}" selected>{{ school_term.1 }}</option>
                    {% else %}
                    <option value="{{ school_term.0 }}">{{ school_term.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6 text-right">
                {% if error is defined or projects|length == 0 %}
                <a href="javascript:window.print();" class="btn btn-default disabled"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
                {% else %}
                <a href="javascript:window.print();" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
                {% endif %}
            </div>
        </div>
        {% if error is defined %}
        <hr class="divider hidden-print">
        <div class="alert alert-info hidden-print">
            {{ error }}.
        </div>
        {% else %}
        {% if projects|length == 0 %}
        <hr class="divider hidden-print">
        <div class="alert alert-info hidden-print">
            No hay proyectos registrados aún.
        </div>
        {% else %}
        <table class="table display" id="table_id">
            <thead>
                <tr>
                    <th>Proyectos</th>
                    <th>Tesistas</th>
                    <th class="hidden-print">Cantidad de observaciones</th>
                    <th class="hidden-print">Fecha de presentacion</th>
                    <th class="hidden-print">Jurado</th>
                    <th class="hidden-print">Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            {% if project.members|length == 1 %}
            <tr>
                <td width="30%" style="text-transform:uppercase;">{{ project.titulo }}</td>
                <td width="30%" style="text-transform:capitalize;">
                    {{ project.members[0].nombres|lower }} {{ project.members[0].apellidos|lower }}
                </td>
                <td class="hidden-print">{{ project.reviewed }}</td>
                <td class="hidden-print">{{ project.presentation_date or 'Aún no asignado' }}</td>
                <td width="20%" class="hidden-print">
                    {% if project.presentation_date is none %}
                    No se asignó un jurado aún
                    {% else %}
                    <ul class="list-group" style="margin:0;">
                    {% for panel_member in project.decision_panel %}
                        <li class="list-group-item">{{ panel_member.nombres }} {{ panel_member.apellidos }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td width="15%" class="hidden-print">
                    <a href="/projects/{{ project.id }}/overview" class="btn table-btn" data-toggle="tooltip" title="Ver proyecto"><span class="glyphicon glyphicon-briefcase"></span></a>
                    {% if user.permissions.gestionar_proyectos %}
                    <a href="/projects/{{ project.id }}/assign-review" class="btn table-btn assign_reviewer" data-toggle="tooltip" title="Asignar a observación"><span class="glyphicon glyphicon-eye-open"></span></a>
                    {% if project.presentation_date is none %}
                    <a href="/projects/{{ project.id }}/assign-presentation" class="btn table-btn assign_presentation_date" data-toggle="tooltip" title="Asignar a sustentación"><span class="glyphicon glyphicon-calendar"></span></a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td rowspan="2" width="30%" style="text-transform:uppercase;">{{ project.titulo }}</td>
                <td width="30" style="text-transform:capitalize;">{{ project.members[0].nombres|lower }} {{ project.members[0].apellidos|lower }}</td>
                <td rowspan="2" class="hidden-print">{{ project.reviewed }}</td>
                <td rowspan="2" class="hidden-print">{{ project.presentation_date or 'Aún no asignado' }}</td>
                <td rowspan="2" class="hidden-print">
                    {% if project.presentation_date is none %}
                    No se asignó un jurado aún
                    {% else %}
                    <ul class="list-group" style="margin:0;">
                    {% for panel_member in project.decision_panel %}
                        <li class="list-group-item">{{ panel_member.nombres }} {{ panel_member.apellidos }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td rowspan="2" width="15%" class="hidden-print">
                    <a href="/projects/{{ project.id }}/overview" class="btn table-btn" data-toggle="tooltip" title="Ver proyecto"><span class="glyphicon glyphicon-briefcase"></span></a>
                    {% if user.permissions.gestionar_proyectos %}
                    <a href="/projects/{{ project.id }}/assign-review" class="btn table-btn assign_reviewer" data-toggle="tooltip" title="Asignar a observación"><span class="glyphicon glyphicon-eye-open"></span></a>
                    {% if project.presentation_date is none %}
                    <a href="/projects/{{ project.id }}/assign-presentation" class="btn table-btn assign_presentation_date" data-toggle="tooltip" title="Asignar a sustentación"><span class="glyphicon glyphicon-calendar"></span></a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td width="25%" style="text-transform:capitalize;">{{ project.members[1].nombres|lower }} {{ project.members[1].apellidos|lower }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endif %}
    </div>
    <div class="content_wrapper padded visible-print-block">
        Sin otro particular quedo de Usted<br />
        Atentamente,<br />
        {{ user.nombres }}  {{ user.apellidos }}
    </div>
{% endblock %}

{% block extensions %}
    {{ super() }}
    {% include 'projects/assign_presentation_date.html' %}
    {% include 'projects/assign_reviewer.html' %}
{% endblock %}
