{% extends "layout/project.html" %}

{% block project_page %}
    <div class="content_wrapper padded">
        {% if reviews|length == 0 %}
        <div class="alert alert-info">
            Todavía no se ha asignado ninguna observación para este proyecto.
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            Has clic sobre una observación para verla a más detalle.
        </div>
        <table class="table table-hover" id="reviews_list">
            <thead>
                <tr>
                    <th>Asesor</th>
                    <th>Rol</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr data-id="{{ review.id }}" class="{% if review.finalizado %}success{% else %}warning{% endif %}">
                    <td>{{ review.nombres }} {{ review.apellidos }}</td>
                    <td>{{ review.rol }}</td>
                    <td>
                        {% if review.finalizado %}
                        <span class="label label-success">Terminado</span>
                        {% else %}
                        <span class="label label-warning">Pendiente</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
