{% extends "layout/project.html" %}

{% block project_page %}
    <div class="content_wrapper padded">
        <h3 style="margin-top:0;" ><a href="/projects/my-project/overview" class="btn btn-default btn-sm" style="border-radius:50%;width:24px;height:24px;padding-left:0;padding-right:0;padding-top:3px;padding-bottom:3px;"><span class="glyphicon glyphicon-menu-left"></span></a> Configuración de proyecto</h3>
        <hr class="divider" />
        {% if error is defined %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
        {% if errors is defined %}
        <div class="alert alert-danger">
            <ul>
                {% for _error in errors %}
                <li>{{ _error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if success is defined %}
        <div class="alert alert-success">
            {{ success }}
        </div>
        {% endif %}
        <form method="POST">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Título de tésis" value="{{ project.titulo }}" />
            </div>
            <div class="form-group">
                <label for="line_of_research">Línea de investigación</label>
                <input type="text" id="line_of_research" name="line_of_research" class="form-control" placeholder="Línea de investigación" value="{{ project.linea_investigacion }}" />
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea rows="5" id="description" name="description" class="form-control" placeholder="Descripción" style="resize:none;">{{ project.descripcion }}</textarea>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>
{% endblock %}
