{% extends "layout/base.html" %}

{% block container_title %}app_container{% endblock %}

{% block main %}
<div id="sidebar">
    <ul class="metismenu app_nav">
        <li>
            <a href="/"><span class="glyphicon glyphicon-home"></span> Inicio</a>
        </li>
        {% if user.permissions.ver_listado_alumnos %}
        <li>
            <a href="/students/list">
                <span class="glyphicon glyphicon-user"></span> Estudiantes
            </a>
        </li>
        {% endif %}
        {% if user.permissions.autorizar_estudiantes %}
        <li>
            <a href="/students/authorize">
                <span class="glyphicon glyphicon-ok-sign"></span> Autorizar estudiantes
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#" class="has-arrow">
                <span class="glyphicon glyphicon-stats"></span> Notas
            </a>
            <ul aria-expanded="true">
                {% if user.permissions.ver_reportes_personales %}
                <li>
                    <a href="/grades/student-report/my-own" id="my_grades">
                        <span class="glyphicon glyphicon-menu-right"></span> Mis notas
                    </a>
                </li>
                {% endif %}
                {% if user.permissions.ver_notas_de_clase %}
                <li>
                    <a href="/grades/class-report">
                        <span class="glyphicon glyphicon-menu-right"></span> Reporte de notas de clase
                    </a>
                </li>
                {% endif %}
                {% if user.permissions.gestionar_notas %}
                <li>
                    <a href="/grades/class-report">
                        <span class="glyphicon glyphicon-menu-right"></span> Crear estructura de notas
                    </a>
                </li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a href="#" class="has-arrow">
                <span class="glyphicon glyphicon-calendar"></span> Asistencias
            </a>
            <ul aria-expanded="true">
                {% if user.permissions.ver_reportes_personales %}
                <li>
                    <a href="/attendance/student-report/my-own" id="my_attendance"><span class="glyphicon glyphicon-menu-right"></span> Mi asistencia</a>
                </li>
                {% endif %}
                {% if user.permissions.registrar_asistencia %}
                <li>
                    <a href="/attendance/register"><span class="glyphicon glyphicon-menu-right"></span> Registrar asistencias</a>
                </li>
                {% endif %}
                {% if user.permissions.gestionar_asistencias %}
                <li>
                    <a href="/school-term/create"><span class="glyphicon glyphicon-menu-right"></span> Crear ciclo académico</a>
                </li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a href="#" class="has-arrow">
                <span class="glyphicon glyphicon-education"></span> Proyectos
            </a>
            <ul aria-expanded="true">
                <li>
                    {% if user.permissions.crear_proyecto %}
                    <a href="/projects/create-new"><span class="glyphicon glyphicon-menu-right"></span> Crear proyecto de tésis</a>
                    {% endif %}
                    {% if user.permissions.ver_listado_proyectos %}
                    <a href="/projects/list"><span class="glyphicon glyphicon-menu-right"></span> Reporte de proyectos del ciclo</a>
                    {% endif %}
                </li>
            </ul>
        </li>
        <li>
            <a href="/logout"><span class="glyphicon glyphicon-off"></span> Salir</a>
        </li>
    </ul>
</div>
<div id="top_nav">
    <div class="tn_breadcrumb">
        <a href="#">Inicio</a> <span class="glyphicon glyphicon-menu-right separator"></span> <a class="current_page">Asistencia</a>
    </div>
    <div class="user">
        <div class="dropdown">
            <a class="btn btn-default dropdown-toggle user_card" type="button" id="userOptions" data-toggle="dropdown">
                <div class="avatar">
                    {% if user.avatar is none %}
                    {% if user.sexo is none or user.sexo == 0 %}
                    <div class="user_avatar default_male" style=""></div>
                    {% elif user.sexo == 1 %}
                    <div class="user_avatar default_female" style=""></div>
                    {% endif %}
                    {% else %}
                    <div class="user_avatar" style="background-image: url(data:image/png;base64,{{ user.avatar.decode('utf-8') }});"></div>
                    {% endif %}
                </div>
                <div class="middle_content">
                    {{ user.nombres }} <span class="user_role">{{ user.rol }}</span>
                </div>
                <div class="toggle_indicator">
                    <button class="btn btn_user_toggle"><span class="glyphicon glyphicon-menu-down"></span></button>
                </div>
            </a>
            <ul class="dropdown-menu" aria-labelledby="userOptions">
                <li><a href="/profile/{{ user.id }}">Mi perfíl</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/settings/edit-profile">Actualizar datos de perfíl</a></li>
                <li><a href="/settings/change-password">Cambiar contraseña</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}

{% block extensions %}
    {% include 'attendance/personal_report.html' %}
    {% include 'grades/personal_report.html' %}
    {% include 'grades/assign_grade.html' %}
{% endblock %}
