{% extends "layout/base.html" %}

{% block container_title %}auth_container{% endblock %}

{% block main %}
    <div class="block_wrapper">
        <a class="logo" href="#" style="margin-top:30px;">Taller de Tésis</a>
        <div class="wrapper" style="margin-bottom:30px;">
            <nav>
                <ul class="nav nav-justified">
                    <li {% if location == 'login' %}class="active"{% endif %}><a href="/login">Iniciar sesión</a></li>
                    <li {% if location == 'registration' %}class="active"{% endif %}><a href="/register">Nueva cuenta</a></li>
                    <li {% if location == 'recover_password' %}class="active"{% endif %}><a href="/recover-password">Recuperar contraseña</a></li>
                </ul>
            </nav>
            <div class="form_wrapper">
                {% block content %}
                {% endblock %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
